<script src="app.component.ts"></script>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Virtual Scrolling w Header Demo</span>
  </mat-toolbar-row>
</mat-toolbar>

<cdk-virtual-scroll-viewport
  [rowSize]="rowSize"
  [offsetHeight]="offsetHeight"
  [footerHeight]="footerHeight"
  [cols]="cols"
  #virtualScrolling="virtualScrollingOffset"
  #scrollViewport
  class="example-viewport"
>
  <div
    class="scroll-header"
    calcHeight
    (heightChanged)="setOffsetHeight($event)"
  >
    <h1>Some header information</h1>
    <debug
      (scrollIndexChanged)="virtualScrolling.scrollToIndex($event)"
      (numItemsChanged)="setNumItems($event)"
    ></debug>
    <textarea>Some random text of random size goes here...</textarea>
    <p>Lorem ipsum bla bla text is comming here</p>
  </div>
    <wrapper [items]="items" #wrapper></wrapper>
  <div
    class="scroll-footer"
    calcHeight
    (heightChanged)="setFooterHeight($event)"
  >
    <h1>Some Footer information</h1>
    <debug
      (scrollIndexChanged)="virtualScrolling.scrollToIndex($event)"
      (numItemsChanged)="setNumItems($event)"
    ></debug>
    <textarea>Some random text of random size goes here...</textarea>
    <p>Lorem ipsum bla bla text is comming here</p>
  </div>
</cdk-virtual-scroll-viewport>
