<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Virtual Scrolling w Header Demo</span>
  </mat-toolbar-row>
</mat-toolbar>

<cdk-virtual-scroll-viewport
  [rowSize]="rowSize"
  [offsetHeight]="offsetHeight"
  [footerHeight]="footerHeight"
  [cols]="cols"
  #virtualScrolling="virtualScrollingOffset"
  class="example-viewport"
>
  <div
    class="scroll-header"
    calcHeight
    (heightChanged)="setOffsetHeight($event)"
  >
    <h1>Some header information</h1>
    <debug
      (scrollIndexChanged)="virtualScrolling.scrollToIndex($event)"
      (numItemsChanged)="setNumItems($event)"
    ></debug>
    <textarea>Some random text of random size goes here...</textarea>
    <p>Lorem ipsum bla bla text is comming here</p>
  </div>
  <div *cdkVirtualFor="let item of items" class="example-item">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>{{ item }}</mat-card-title>
        <mat-card-subtitle>Subtitle for {{ item }}</mat-card-subtitle>
        <mat-icon aria-hidden="false" aria-label="Example icon"
          >info_outline</mat-icon
        >
      </mat-card-title-group>
      <mat-card-content> More text on item {{ item }} </mat-card-content>
    </mat-card>
  </div>
  <div
    class="scroll-footer"
    calcHeight
    (heightChanged)="setFooterHeight($event)"
  >
    <h1>Some Footer information</h1>
    <debug
      (scrollIndexChanged)="virtualScrolling.scrollToIndex($event)"
      (numItemsChanged)="setNumItems($event)"
    ></debug>
    <textarea>Some random text of random size goes here...</textarea>
    <p>Lorem ipsum bla bla text is comming here</p>
  </div>
</cdk-virtual-scroll-viewport>
